body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Windows10abstract.png/1200px-Windows10abstract.png");
}

h1 {
  background-color:darkslateblue;
  color: white;
}

p {
  background-color:darkslateblue;
  color:white;
}

img {
  background-color:darkslateblue;
}

tr {
  background-color:indigo;
}

a {
  background-color:deepskyblue;
}

table {
  border: 10px;
}
